html, body, main{
  height:100%;
  width: 100%;
}
nav, main{
  box-sizing: border-box;
}
a#menu img{
  width: 47px;
  height: 47px;
}
.container img{
  max-width: 100%;
}
nav{
  width: 250px;
  height: 100%;
  position: absolute;
  transform: translate(-250px, 0);
  transition: transform 0.3s ease;
}
nav.open {
  transform: translate(0, 0);
}
@media screen and (max-width: 779px){
  h3{
    display: none;
  }
  main{
    flex-direction: column;
  }
}
@media screen and (min-width: 780px){
  h1, h3 {
    float: left;
  }
  h3{
    margin: 40px;
  }
}
@media screen and (min-width: 1000px){
  nav#drawer.dark_blue {
    position: relative;
    transform: translate(0, 0);
  }
  body{
    display: flex;
    flex-flow: row nowrap;
  }
  main{
    width: auto;
    flex-grow: 1;
  }
  main aside#sidebar.light_blue{
    width: 250px;
    height: 100%;
  }
  a#menu img{
    padding: 1em;
  }
}